.accordion-warper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4.8rem;
}

.first_info {
  width: 1050px;
  background-color: var(--container-color);
  border-bottom: 0.5px solid rgb(230, 230, 230);
  border-radius: 4px;
}

.hea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 10.5px;
  cursor: pointer;
  color: var(--title-color);
  border-bottom: 1.5px solid rgb(230, 230, 230);
}
.description {
  padding: 0px 13px;
  overflow: hidden;
  font-size: 15px;
  line-height: 0px;
  border-left: 1px solid rgb(230, 230, 230);
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 2px;
}

.icon-f {
  color: darkgray;
  font-size: 28px;
}
.opentab {
  padding: 16px;
  line-height: 26px;
}

.ft {
  margin-bottom: 45px;
}
.f-bu {
  list-style-type: disc;
  padding-left: 20px;
}

@media screen and (max-width: 1024px) {
  .first_info {
    width: 850px;
    margin: auto;
  }
  .accordion-warper {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .first_info {
    width: 630px;
  }
  .accordion-warper {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 576px) {
  .first_info {
    max-width: 332px;
  }
  .accordion-warper {
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 350px) {
  .first_info {
    width: 245px;
  }
  .accordion-warper {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bx-chevron-down {
    display: none;
  }
}
